@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: "Proxima Nova", sans-serif;
	font-size: 16px;
}

.wrapper {
	background-color: #FFED74;
}

nav {
	background-color: #000;
	padding: 20px;
	text-align: center;
	border-bottom: 1px white solid;
	position: fixed;
	width: 100%;
}

.navlink {
	text-transform: uppercase;
	color: #fff;
	padding: 0 2em;
}

#hero {
	background: url(../images/tiago-aguiar-22791.jpg);
	background-size: cover;
	background-position: bottom;
	display: block;
	padding: 8em 0;
	height: 85vh;
	color: #fff;
}

h1 {
	font-family: 'Berkshire Swash', cursive;
	font-weight: normal;
	font-size: 50px;
}

#tuileries {
	background: url(../images/krystina-rogers-85945.jpg);
	background-size: cover;
}

#bamboo {
	background: url(../images/kaitlyn-jameson-39045.jpg);
	background-size: cover;
}

#botanical {
	background: url(../images/gemma-evans-197725.jpg);
	background-size: cover;
}
.columns {
	color:#fff;
	float:left;
	width:33.33%;
}
.columns div {
	background: rgba(128, 0, 128, 0.75);
	min-height:20em;
	padding:4em 2em 0;
}
.subtitleone {
	font-weight: lighter;
	font-size: 20px;
}

.second {
	font-family: 'Berkshire Swash', cursive;
	font-weight: normal;
	font-size: 25px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

#more {
	background-color: #ffc675;
}

#additionalplaces {
	background-color: #ffc675;
}

.additionallink{
	padding-left: 30px;
	text-transform: uppercase;
}

.subtitletwo {
	font-weight: lighter;
	font-size: 20px;
}

.link {
	text-transform: uppercase;
	color: #fff;
}

footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
}
