@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body {

}

.wrapper {
	background-color: #FFED74;
}

nav {
	background-color: #000;
	padding: 20px;
	text-align: center;
	border-bottom: 1px white solid;
}

.navlink {
	font-family: "Proxima Nova", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	padding: 0 2em;
}

#hero {
	background: url(../images/tiago-aguiar-22791.jpg);
	background-size: cover;
	display: block;
	padding: 8em;
}

h1 {
	font-family: 'Berkshire Swash', cursive;
	font-weight: normal;
	font-size: 50px;
	text-align: center;
	color: #fff;
	display: block;

}

#tuileries {
	background: url(../images/krystina-rogers-85945.jpg);
	background-size: cover;
	text-align: center;
	padding: 2em;
	color: #fff;
}

#bamboo {
	background: url(../images/kaitlyn-jameson-39045.jpg);
	background-size: cover;
	text-align: center;
	position: right;
	padding: 2em;
	color: #fff;
}

#botanical {
	background: url(../images/gemma-evans-197725.jpg);
	text-align: center;
	background-size: cover;
	padding: 2em;
	color: #fff;
}

.subtitleone {
	font-family: "Proxima Nova", sans-serif;
	font-weight: lighter;
	font-size: 20px;
	color: #fff;
	text-align: center;
	display: block;
}

.second {
	font-family: 'Berkshire Swash', cursive;
	font-weight: normal;
	font-size: 25px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#column1 {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: none;   
    width: 25%;
}

#column2 {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: none;   
    width: 25%;
}

#column3 {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: none;   
    width: 25%;
}

#column4 {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: none;   
    width: 25%;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

#more {
	font-family: "Proxima Nova", sans-serif;
	font-weight: normal;
	text-align: center;
	background-color: #ffc675;
}

#additionalplaces {
	font-family: "Proxima Nova", sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	background-color: #ffc675;
}

.additionallink{
	font-family: "Proxima Nova", sans-serif;
	padding-left: 30px;
	text-transform: uppercase;
	font-size: 14px;
}

.subtitletwo {
	font-family: "Proxima Nova", sans-serif;
	font-weight: lighter;
	font-size: 20px;
}

.copy {
	font-family: "Proxima Nova", sans-serif;
	font-size: 14px;
}

.link {
	font-family: "Proxima Nova", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}

footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	font-family: "Proxima Nova", sans-serif;
}